:root {
  --tag-bg: #cff4fc;
  --tag-text: #087990;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.tag {
  color: var(--tag-text);
  border: 2px solid var(--tag-text);
  border-radius: 5px;
  background-color: var(--tag-bg);
  padding: 1px 5px;
  margin: 0px 5px;
}

.reloadBtnApp {
  margin-top: -25px !important;
  width: 80%;
  margin: 0 auto;
}

.reloadBtnApp button {
  background-color: #ecf8ff; /* Green */
  border: 2px solid #212529;
  color: #212529;
  width: 100%;
  border-radius: 15px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

.headerApp {
  color: white !important;
  background-color: #212529 !important;
  border-radius: 0 0 20px 20px !important;
}

.headerApp-body {
  padding-top: 40px;
  padding-bottom: 60px;
}

.headerApp-text, .headerApp-title {
  margin: 0 !important;
}
